/* 
*Configuração import das fonts
*/
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;600&display=swap');
/* 
* Fim Configuração import das fonts
*/

/* 
*Configuração dos efeitos
*/
@keyframes efeito_esquerda{
  0%{
    transform: translateX(-1330px);
  }
  100%{
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes efeito_direita{
  0%{
    transform: translateX(330px);
  }
  100%{
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes efeito_scale{
  0%{
    transform: scale(0);
  }
  100%{
    transform: scale(1);
    opacity: 1;
  }
}
/* 
* Fim Configuração dos efeitos
*/

/* Exemplo de uso do efeito 
  
.slide1, .slide2, .slide3{
  animation: efeito 0.6s 0.9s forwards;  
  opacity: 0;
}
*/

#imglogo {
  padding: 1rem;
  height: 15%;
  width: 15%; 
}

.fonttitulo {
  opacity: 0;
  animation: efeito_esquerda 0.6s 0.5s forwards;
  color: rgb(255, 255, 255);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: left;
  margin: 0rem 0rem 1rem 0rem;
}

.fontsubtitulo {
  opacity: 0;
  animation: efeito_esquerda 0.6s 1.0s forwards;
  color: rgb(255, 255, 255);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: left;
  margin: 0rem 0rem 1rem 0rem;
}

.fonttexto {
  opacity: 0;
  animation: efeito_esquerda 0.6s 1.5s forwards;
  color: rgb(255, 255, 255);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: left;
  margin: 0rem 0rem 20rem 0rem;
}

#textomenu {
  color: rgb(87, 53, 53);
  font-family: fantasy;
  text-align: left;
  margin: 0rem 0rem 20rem 0rem;
}

/* Footer */
.footer1 { background: #582a2a; padding: 30px 0 0 0; font-size: 12px; color: #999; }
	.footer1 a { color: #ccc; }
		.footer1 a:hover {color: #fff; }
	.footer1 .widget { margin-bottom:30px; }		
	.footer1 .widget-title { font-size: 17px; font-weight: bold; color: #ccc; margin: 0 0 20px; }
	.footer1 .entry-meta { border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; margin: 0 0 35px 0; padding: 2px 0; color: #888888; font-size: 12px; font-size: 0.75rem; }
		.footer1 .entry-meta a { color: #333333; }
		.footer1 .entry-meta .meta-in { border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; padding: 10px 0; }
	.follow-me-icons { font-size:30px; }		
		.follow-me-icons i { float:left; margin:0 10px 0 0; }		

.footer2 { background: #1f201d; padding: 15px 0; color: #777; font-size: 12px; }
	.footer2 a { color: #aaa; }
		.footer2 a:hover { color: #fff; }
		.footer2 p { margin: 0; }

	.widget-simplenav { margin-left:-5px; }		
	.widget-simplenav a{ margin:0 5px; }		
